/* Unfortunately, we can't load fonts in Styled Components because of a bug in chromium based browsers that reloads the custom fonts in some situations causing an undesirable FOUT. Move the font load back to styled components when (if ever) cromium fix this bug */
@font-face {
  font-family: "source-regular";
  src: url("/static/fonts/sourceSans/SourceSans3-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "source-bold";
  src: url("/static/fonts/sourceSans/SourceSans3-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
